:root {
    font-size: 10px;

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {

    overflow-x: hidden;
    font-size: 2.5rem;

}

header {
    background: #db2c38;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 50%;


}

header section {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 50rem;
    margin-left: 100px;
}

header section nav {
    display: flex;
    gap: 10rem;
    align-items: center;
}

header section nav li a {
    color: white;
    display: flex;
    font-weight: 600;
    font-size: 2.2rem;
    border-bottom: 0.2rem solid transparent;
    cursor: pointer;

}

header section nav li a:hover {
    font-size: 2.3rem;
    border-bottom: 0.2rem solid white;
   
}

.product-container {

    display: flex;
    margin-top: 10rem;
    padding-left: 4rem;
    padding-right: 4rem;

}

.product-gallery {
    display: flex;
    gap: 5rem;
    margin-right: 5rem;

}

.gallery-thumbnails {
    padding-top: 5rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gallery-thumbnails img {

    border: 2px solid #f3f2f2;
    border-radius: 10px;
    max-width: 80px;
    margin-bottom: 3rem;
    transition: 0.3s;

}

.gallery-thumbnails img:hover {
    border-color: #db2c38;
    border-width: 0.2rem;
    border-style: solid;
    cursor: pointer;
}

.product-info h2 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 3rem;
    padding-left: 2%;


}

.product-info p {
    line-height: 4rem;
    padding-left: 2%;
    font-size: 2rem;
    margin-bottom: 2rem;

}

.btn {
    display: flex;
    gap: 4rem;
    padding-left: 2rem;
}

.product-info a {
    background-color: #db2c38;
    color: #fff;
    border: none;
    padding: 1rem 2.5rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
    text-decoration: none;
    margin-top: 2rem;


}

.product-info a:hover {
    background-color: #b71c1c;
}